.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}



h2 {
	font-size: 46px;
	color: white;
	font-family: 'Shippori Antique B1', sans-serif;
}

p {
	font-size: 28px;
}


.white_container {
	background: linear-gradient(
	  to bottom,
	  #f7ab00 0%,
	  #ffdc7a 30%,
	  #fff0c4 50%,
	  #ffffff 80%
	);

	background-clip: content-box;
	background-origin: content-box;
	margin: -8px;
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 18px;
	
	color: #414534;

	text-align: center;
}

.newsletter {
    max-width: 480px;
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #525645;
    margin: 0px auto;
    background-clip: content-box;
	background-origin: content-box;
}


.noBorder{
	margin: -8px;
}

.black_container {
	background-image: linear-gradient(
	to bottom, 
	#0d1211 0%, 
	#0d1211 97%,
	black 100%);
	
	margin-top: -80px;
	background-origin: content-box;
	background-clip: content-box;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 16px;
	color: rgba(190,190,195,255);
	
}

.frame
{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	text-align: left;
	
}

.game-title{
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 28px;
	color: rgba(250,250,250,255);
	text-align: center;
}

.game-release{
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 18px;
	color: rgba(150,150,150,255);
	padding-bottom: 12px;
	text-align: center;
}

.game-description{
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 18px;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	color: rgba(190,190,195,255);
	padding-bottom: 12px;
	text-align: left;
}

.game-links{
	font-family: 'Shippori Antique B1', sans-serif;
	font-size: 18px;
	color: rgba(250,250,250,255);
	text-align: left;
}


.footer {
	text-align: center;
	font-size: 12px;
	font-family: 'Shippori Antique B1', sans-serif;
	color: white;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

sep {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.recognition {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 20px;
}

.recognition h1 {
  font-size: 46px;
  margin-bottom: 10px;
}

.recognition h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recognition h3 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.recognition ul {
  list-style-type: square;
  list-style-position: inside;
  text-align: left;
  padding-left: 0;
  margin: 5px 0 15px 0;
}


.recognition strong {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}


#lang-switch {
  text-align: center;
}

#lang-switch .lang-btn {
  height: 28px;
  line-height: 24px;
  font-size: 14px;
  vertical-align: middle;
  box-sizing: border-box;

  background-color: #876d31;
  color: white;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 8px;
}


#lang-switch .lang-btn:hover {
  background-color: black;
}
